async-generator
async-timeout
attrs
certifi
cffi
chardet
click
colorama
cryptg
decorator
emoji
future
idna
Jinja2
lottie
MarkupSafe
pbr
Pillow
protobuf
pycparser
pyfiglet
pymongo
pyrogram
python-dotenv
python-magic
requests
rsa
schedule
six
Telethon
tgcrypto
toml
tqdm
urllib3
